.container {
  display: grid;

  /*
    repeat 
      - 1 valor = quantas vezes repetir
      - 2 valor = repetir o que ? 
      - 3 valor = repetir o que ? ... infinitamente


     exemplo de repeate
      grid-template-columns: 100px repeat(3, 1fr) 200px;
  */
  /*
  auto fill utilizado para quando não se sabe o numero de colunas lembrando que é necessário usar px

*/
  grid-template-columns: repeat(auto-fill, 300px);

  gap: 10px;
}
.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
