.container {
  display: grid;

  /*
    auto -> utilizado para definir um tamanho automatico para um item ou seja pegue o tamanho que sobrou

    definindo coluna -> basicamente cada valor passado em grid-template-columns vai ser uma coluna

  */
  grid-template-columns: auto 100px 100px 100px;

  /*
    - semelhante ao grid-template-columns,porem so vai aplicar estilo nas linhas definidas
    
    - cada valor passado representa uma linha 


  */

  grid-template-rows: 100px 200px;

  gap: 10px;
}
.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
