.container {
  display: grid;
  /*
    valor flexivel para definir elementos no grid
    ou seja ele pega o valor do container e divide FRAÇÕES DESTE TAMANHO para os itens
  */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.item {
  background-color: #0000ff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}
